.app {
  max-width: 800px;
  margin: auto;
  padding: 2rem;
  text-align: center;
}

form {
  margin: 2rem 0;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: center;
  align-items: flex-end;
}

input,
select {
  padding: 0.5rem;
  font-size: 1rem;
  border: 2px solid #fa64ff;
  border-radius: 8px;
  background: #f3f3f3;
  color: inherit;
  width: 95%;
}

input:focus,
select:focus,
input:hover,
select:hover {
  outline: none;
  border-color: #8d3890;
}

.inputGroup {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  text-align: left;
  width: 100%;
}

.inputWrapper {
  position: relative;
  width: 100%;
}

button {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  background-color: #fa64ff;
  color: white;
  border: 2px solid #8d3890;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover:not(:disabled) {
  opacity: 0.8;
}

.error {
  position: absolute;
  top: 100%;
  left: 0;
  margin: 0;
  margin-top: 0.25rem;
  font-weight: bold;
  color: red;
  font-size: 0.875rem;
  white-space: nowrap;
}
